.main_wrapper {
  height: 100svh;
  width: 100%;
  padding: 48px 82px 32px 62px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.text_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 84px;
  line-height: 1.3;
  text-transform: uppercase;
}

.title_span {
  background: linear-gradient(to right, #7c6fcff7, #74aeaaf2, #6fcf97);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: #828282;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.6px;
}

.statistic_section {
  display: flex;
  gap: 126px;
}

.subscribe_button {
  background: linear-gradient(to right, #7c6fcff7, #74aeaaf2, #6fcf97);
  width: 532px;
  padding: 15px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 10px 10px 70px 15px #a5bfb46b;
}

.subscribe_button span {
  color: black;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}

.downloader_section {
  display: flex;
  gap: 20px;
}

.card_container {
  position: relative;
  height: 100%;
  margin-top: 160px;
}

.crypto_img {
  position: absolute;
  width: 400px;
}

.first_img {
  transform: translate(40%, -45%);
}

.second_img {
  transform: translate(-60%, 50%);
}

.third_img {
  transform: translate(25%, 75%);
}

.feedback_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 700px;
}

@media only screen and (max-width: 1200px) {
  .main_wrapper {
    position: relative;
  }
  .title,
  .subtitle,
  .downloader_section,
  .subscribe_button {
    z-index: 10;
  }
  .statistic_section {
    z-index: 5;
  }

  .feedback_container {
    display: none;
  }
  .crypto_img {
    width: 300px;
    opacity: 0.7;
  }
}

@media only screen and (max-width: 420px) {
  .main_wrapper {
    position: relative;
  }

  .text_container {
    width: 100%;
    margin: 0 auto;
  }
  .title {
    font-size: 32px;
    text-align: center;
  }
  .subtitle {
    font-size: 20px;
    text-align: center;
  }
  .subscribe_button {
    width: 120%;
  }
  .statistic_section {
    width: 100%;
    justify-content: center;
    gap: 15px;
  }

  .downloader_section {
    width: 100%;
  }

  .first_img {
    transform: translate(-60%, -50%);
  }
  .second_img {
    transform: translate(-120%, -10%);
  }
  .third_img {
    transform: translate(-60%, 50%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .title {
    text-align: center;
    font-size: 62px;
  }
  .subtitle {
    text-align: center;
    font-size: 32px;
  }
  .downloader_section {
    justify-content: center;
  }

  .first_img {
    transform: translate(-100%, -50%);
  }
  .second_img {
    transform: translate(-180%, -10%);
  }
  .third_img {
    transform: translate(-120%, 50%);
  }
}
